<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<p th:text="${person.getName() + ', ' + person.getYear()}">VALUE</p>

<div th:if="${person.getBooks().size() == 0}">
    The person has not yet taken a single book.
</div>
<div th:if="${person.getBooks().size() > 0}">
    <hr/>
    <p>Books:</p>
    <div th:each="book : ${person.getBooks()}">
        <a th:style="${book.isOverdue()}? 'color: red;'"
           th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</a>
    </div>
</div>

<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit"/>
</form>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
</body>
</html>